.el-table th>.cell{
    width: 100%;
    text-align: center;
}
.search{
    padding: 14px 20px;
    background: #FFFFFF;
    border-radius: 18px;
    margin-bottom: 14px;
}
.el-form-item{
    margin-right: 20px!important;
}
